<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyjava.mappers.InfoBeautyMapper">
	<!--实体映射-->
<resultMap id="base_result_map" type="com.easyjava.entity.po.InfoBeauty">
		<!---->
	<result column="id" property="id"/>
		<!--邮箱-->
	<result column="email" property="email"/>
		<!--用户id-->
	<result column="user_id" property="userId"/>
		<!--0未使用，1已使用-->
	<result column="status" property="status"/>
 </resultMap>
	<!--通用查询列-->
	 <sql id="base_column_list">
		  id,email,user_id,status
	 </sql>
	<!--基础查询条件-->
	 <sql id="base_query_condition">
	  <if test="query.id!=null">
	    and id=#{query.id}
	  </if>
	  <if test="query.email!=null">
	    and id=#{query.email}
	  </if>
	  <if test="query.userId!=null">
	    and id=#{query.userId}
	  </if>
	  <if test="query.status!=null">
	    and id=#{query.status}
	  </if>
	</sql>
	<!--拓展查询条件-->
	 <sql id="base_query_condition_extend">
	  <if test="query.emailFuzzy!=null and query.emailFuzzy!=''">
	     and email like concat('%',#(query.emailFuzzy),'%')
	  </if>
	  <if test="query.userIdFuzzy!=null and query.userIdFuzzy!=''">
	     and user_id like concat('%',#(query.userIdFuzzy),'%')
	  </if>
	</sql>
	<!--拓展查询条件-->
	<sql id="query_condition">
	 <where>
	  <include refid="base_column_list"/>
	  <include refid="base_query_condition_extend">
	 </where>
	</sql>
	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM user_info_beauty<include refid="query_condition"/>
	</select>
</mapper>
